body {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}

section {
  width: 60%;
  margin: auto;
  margin-bottom: 5%;
}

footer {
  margin: auto;
  width: 50%;
  text-align: right;
  line-height: normal;
}

.hidden {
  display: none;
}

#reader-container, .search-result-card {
  display: flex;
}

.search-result-card, #reader-container button {
  cursor: pointer;
}

#reader-container {
  /* display: inline-flex;
  min-width: 100%; */
  display: flex;
  height: 85vh;
}

#reader-container button {
  height: 100%;
  flex: 1 0 7%;
  min-width: 0;
  padding: 0;
  border: none;
}

.search-result-card:hover {
  background-color: lightgrey;
}

#search-results {
  width: 80%;
}

.result-title {
  width: 30%;
  max-width: 100ch;
  padding-right: 2%;
}

.result-description {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  width: 70%;
  max-height: 10ch;
}

a:visited {
  color: blue;
}

#img-container img {
  height: 100%;
  flex: 0 4 86%;
  min-width: 0;
}

.alert-text {
  font-family: 'Courier New', "Courier", monospace;
}